<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.mapper.AccountMapper">
    <!--sql语句；select，insert，传递的参数，结果的封装-->
    <insert id="save" parameterType="Account">
       insert into account values (#{id},#{name},#{money})
    </insert>
    <select id="findAll" resultType="Account">
        select * from account
    </select>
</mapper>